<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->
<f:section name="content">
	<f:if condition="{newsItem}">
		<n:format.nothing>
			<n:excludeDisplayedNews newsItem="{newsItem}" />
			<f:if condition="{newsItem.alternativeTitle}">
				<f:then>
					<n:titleTag>
						<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
					</n:titleTag>
				</f:then>
				<f:else>
					<n:titleTag>
						<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
					</n:titleTag>
				</f:else>
			</f:if>
			<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
		</n:format.nothing>
		<f:if condition="{settings.detail.showPrevNext}">
			<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
				<f:if condition="{paginated}">
					<nav aria-label="my-pagination">
					<ul class="pagination pager">
						<f:if condition="{paginated.prev}">
							<li class="page-item previous">
								<n:link newsItem="{paginated.prev}" settings="{settings}" class="page-link">
									<span aria-hidden="true">&larr; </span>{paginated.prev.title}
								</n:link>
							</li>
						</f:if>
						<f:if condition="{paginated.next}">
							<li class="page-item next">
								<n:link newsItem="{paginated.next}" settings="{settings}" class="page-link next">
									{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
								</n:link>
							</li>
						</f:if>
					</ul>
					</nav>
				</f:if>
			</n:simplePrevNext>
		</f:if>
		<f:if condition="{newsItem.media}">
			<f:then>
				<f:render section="headline" arguments="{_all}" />
				<div class="row">
					<div class="col-md-12">
						<f:render section="inner-content" arguments="{_all}" />
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 gallery">
						<f:for each="{newsItem.media}" as="mediaElement">
							<f:if condition="{mediaElement.originalResource.type} == 2">
								<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 4">
								<f:render partial="Detail/MediaVideo" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
							<f:if condition="{mediaElement.originalResource.type} == 5">
								<f:render partial="Detail/MediaImage" arguments="{mediaElement: mediaElement, settings:settings}"/>
							</f:if>
						</f:for>
					</div>
					<f:if condition="{settings.backPid}">
						<!-- Link Back -->
						<f:link.page class="btn btn-light mt-4" pageUid="{settings.backPid}">
							<f:translate key="back-link" />
						</f:link.page>
					</f:if>
				</div>
			</f:then>
			<f:else>
				<f:render section="headline" arguments="{_all}" />
				<f:render section="inner-content" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:if>
</f:section>

<f:section name="headline">
	<h1 itemprop="headline">{newsItem.title}</h1>
	<f:render partial="General/AdditionalInformation" arguments="{settings:settings,newsItem:newsItem}" />
</f:section>

<f:section name="inner-content">
	<n:renderMedia news="{newsItem}" imgClass="img-fluid" videoClass="video-wrapper" audioClass="audio-wrapper">
		<f:if condition="{newsItem.teaser}">
			<!-- teaser -->
			<div class="lead" itemprop="description">
				<f:format.html>{newsItem.teaser}</f:format.html>
			</div>
		</f:if>
		<f:if condition="{newsItem.contentElements}">
			<!-- content elements -->
			<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
		</f:if>
		<!-- main text -->
		<div class="news-text-wrap" itemprop="articleBody">
			<f:format.html>{newsItem.bodytext}</f:format.html>
		</div>
	</n:renderMedia>

	<f:if condition="{settings.detail.showSocialShareButtons}">
		<f:comment>
			Care about the privacy of your readers?
			Checkout https://typo3.org/extensions/repository/view/rx_shariff
			and it will be used automatically!
		</f:comment>
		<n:extensionLoaded extensionKey="rx_shariff">
			<f:render partial="Detail/Shariff" />
		</n:extensionLoaded>
	</f:if>

	<f:if condition="{settings.detail.disqusShortname}">
		<div id="disqus_thread"></div>
		<n:social.disqus newsItem="{newsItem}"
						 shortName="{settings.detail.disqusShortname}"
						 link="{n:link(newsItem:newsItem, settings:settings, uriOnly:1, configuration:'{forceAbsoluteUrl:1}')}" />
	</f:if>

	<f:if condition="{newsItem.relatedFiles} || {newsItem.allRelatedSorted}">
		<div class="row">
			<f:if condition="{newsItem.allRelatedSorted}">
				<!-- Related news records -->
				<div class="col news-related news-related-news">
					<h4>
						<f:translate key="related-news" />
					</h4>
					<ul class="list-unstyled">
						<f:for each="{newsItem.allRelatedSorted}" as="related">
							<li>
								<span class="news-related-news-date">
									<f:format.date format="{f:translate(key:'dateFormat')}">{related.datetime}</f:format.date>
								</span>
								<n:link newsItem="{related}" settings="{settings}" title="{related.title}">
									{related.title}
								</n:link>
							</li>

						</f:for>
					</ul>
				</div>
			</f:if>
			<f:if condition="{newsItem.relatedFiles}">
				<!-- related files -->
				<div class="col news-related news-related-files">
					<h4>
						<f:translate key="related-files" />
					</h4>
					<ul class="list-unstyled">
						<f:for each="{newsItem.relatedFiles}" as="relatedFile">
							<li>
								<span class="news-related-files-link">
									<a href="{relatedFile.originalResource.publicUrl -> f:format.htmlspecialchars()}" target="_blank">
										<f:switch expression="{relatedFile.originalResource.type}">
										   <f:case value="1"><i class="fa fa-file-text-o" aria-hidden="true"></i></f:case>
										   <f:case value="2"><i class="fa fa-file-image-o" aria-hidden="true"></i></f:case>
										   <f:case value="3"><i class="fa fa-file-audio-o" aria-hidden="true"></i></f:case>
										   <f:case value="4"><i class="fa fa-file-video-o" aria-hidden="true"></i></f:case>
										   <f:defaultCase><i class="fa fa-file-pdf-o" aria-hidden="true"></i></f:defaultCase>
										</f:switch>
										 {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
									</a>
								</span>
								<span class="news-related-files-size"> {relatedFile.originalResource.size -> f:format.bytes()} </span>
							</li>
						</f:for>
					</ul>
				</div>
			</f:if>
		</div>

		<f:if condition="{newsItem.relatedLinks}">
			<!-- Related links -->
			<div class="alert alert-secondary" role="alert">
				<h4>
					<f:translate key="related-links" />
				</h4>
				<ul class="list-unstyled">
					<f:for each="{newsItem.relatedLinks}" as="relatedLink">
						<li>
							<f:link.page pageUid="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.page>
							<f:if condition="{relatedLink.description}"> <span>- {relatedLink.description}</span>
							</f:if>
						</li>
					</f:for>
				</ul>
			</div>
		</f:if>
	</f:if>
</f:section>
</html>
