<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<figure class="image{f:if(condition: mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class, then: ' {mediaElement.originalResource.properties.tx_t3sbootstrap_extra_class}')}">
	<f:if condition="{mediaElement.link}">
		<f:then>
			<f:link.page pageUid="{mediaElement.link}" target="{n:targetLink(link:mediaElement.link)}">
				<f:image class="img-fluid" image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
			</f:link.page>
		</f:then>
		<f:else>
			<f:if condition="{settings.detail.media.image.baguetteBox.enabled}">
				<f:then>
					<a href="{f:uri.image(image:mediaElement.originalResource, width:'{settings.detail.media.image.lightbox.width}', height:'{settings.detail.media.image.lightbox.height}')}" data-caption="{mediaElement.description}">
						<f:image class="img-fluid" image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
					</a>
				</f:then>
				<f:else>
					<f:image class="img-fluid" image="{mediaElement}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{f:if(condition: settings.media.maxWidth, then: settings.media.maxWidth, else: settings.detail.media.image.maxWidth)}" maxHeight="{f:if(condition: settings.media.maxHeight, then: settings.media.maxHeight, else: settings.detail.media.image.maxHeight)}" />
				</f:else>
			</f:if>
		</f:else>
	</f:if>
	<f:if condition="{mediaElement.description}">
		<figcaption class="image-caption">
			{mediaElement.description}
		</figcaption>
	</f:if>
</figure>
</html>